body{
    display: flex;
}

#warnbox{
    color: red;
    background-color: aquamarine;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
    opacity: 0.5;
}

#background{
    z-index: 0;
    display: grid;
    width: 90vh;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0.5vh;
    grid-row-gap: 0.5vh;
    padding: 1vh;
    background-color:grey;
    border: 0.5vh solid black;
}

#history{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 10;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

#lastTextbox{
    margin: 1vh;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 2vh;
    color:beige;
    word-wrap: break-word;
    border: 0.4vh solid black;
    background-color: darkgray;
}


#textbox{
    margin: 1vh;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    font-size: 5vh;
    word-wrap: break-word;
    border: 0.4vh solid black;
    margin-top: 0vh;
    background-color: darkgray;
}

#clock{
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    border: 0.4vh solid black;
    text-align: center;
    word-break: break-all;
    word-wrap: break-word;
    font-size: 3vh;
    background-color: white;
}

#equal{
    background-color: greenyellow;
}

#backspace{
    background-color: green
}

#deleteButton{
    background-color: red;
}

.symbolButton{
    background-color: yellow;
}

.upButton{
    background-color:blue;
}

.historyContents{
    border: 0.4vh black solid;
    border-bottom: none;
    font-size: 2vh;
    word-break: break-all;
    word-wrap: break-word;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: darkgray;
}

#c9{
    border-bottom: 0.4vh black solid;
}

button{
    font-size: 5vh;
    transition-duration: 10ms;
    border: 0.4vh solid black;
    cursor: pointer;
}

button:hover{
    box-shadow: 0.8vh 0.8vh 1.6vh #333;
}

button:active{
    box-shadow: none;
}